{% extends "base.html" %}
{% block title %}
Titulo da pagina
{% endblock %}

{% block body %}
<h1>EAE GALERA</h1>
<p>hello world</p>
<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Nascimento</th>
    </tr>    
{% for usuario in usuarios %}
    <tr>
        <td>{{usuario[0]}}</td>
        <td>{{usuario[1]}}</td>
        <td>{{usuario[2]}}</td>
        <td>{{usuario[3]}}</td>
        <td>{{usuario[4]}}</td>
    </tr>    
{% endfor %}
</table>
{% endblock %}